* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

.title-strong {
     color: #22D4FD;
}

.container {
    display: flex;
    align-items: center;
}